a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  width: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
#list {
  margin: 10px;
}
#list li {
  padding: 20px;
  width: 280px;
  height: 350px;
  float: left;
}
#list .wrapper {
  height: 200px;
}
#list li img {
  width: 100%;
  height: 100%;
}
#list div {
  padding-top: 20px;
  min-height: 50px;
  font-size: medium;
}
#list .totalview {
  font-size: small;
  color: #999;
}
#loading .glyphicon-refresh {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#viewMore {
  display: none;
  margin: 50px auto;
}
.show {
  display: block;
}
